
html {
    width: 100%;
    min-height: 100%;

}

body {
    width: 100%;
    min-height: 100%;
    color: white;
    font-family: 'Domine', serif;
    font-size: 1.2em;
    background-color: #9f6b56;
}

.container-fluid {
    padding: 52 0 0 0 ;
    margin: 0;
}

@media only screen and (min-width: 991px) {
.container-fluid {
        padding-top: 109px;
}

}
@media only screen and (min-width: 767px) {
#googleMap {
    height:200px;
}

h6 {

    font-family: 'Roboto', sans-serif;
}



/* Navigation */
nav {

    font-family: 'Roboto', sans-serif;
}

.top-nav{

    height: 50px;

}

.nav-background {
    background-color: #1d1d25;
    padding: 0;
    margin: 0;
}

.navbar-inverse {
    border-bottom: 2px dotted white;
    border-bottom-style: solid;

}

.inverse .navbar-brand {
    color: #895945;
    background-color: #1d1d25;
}

.navbar-inverse .navbar-nav li a {
    color: white;
    background-color: #1d1d25;
}

/* Header */
.header-xs {
    background-color: #1d1d25;
    min-height: 100%;
    padding-top: 50px;

}

.logo_full {
    padding-bottom: 20px;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



}


/* Class verwijderen
.underline {
    border-bottom: 2px solid #1d1d25;
}

*/

.text-box {
    text-align: center;
}

strong {

        font-family: 'Roboto', sans-serif;

}

ul, li {
    list-style-type: none;
    list-style-position:inside;
    text-align: left;
    padding: 0;
    margin: 0;
}

a {

    color: #00ffff;
}

a:hover {

    color: #00ffff;
    text-decoration: underline;
}

a:hover {

    color: #00ffff;
    text-decoration: underline;
}

a:visited {
    color: #00ffff;
}

.center {
    text-align: center;
    margin: auto;
}

.right {
    text-align: right;
}

.img-respnsive {
    padding-bottom: 100px;


}

span.omschrijving {
    border-bottom: 2px;
    border-bottom-style: dotted;
}


section {
    min-height: 100%;
    padding-top: 35px; 


}

.contact-section {
    background-color: #1d1d25;
}

#googleMap {
    width:auto; height:200px;
}


