
html {
    width: 100%;
    min-height: 100%;

}

body {
    width: 100%;
    min-height: 100%;
    color: white;
    font-family: 'Domine', serif;
    font-size: 1.2em;
    background-color: #9f6b56;
}


@media only screen and (min-width: 991px) {

    .home-section {
    padding-top: 108px
    }
    .menu-section {
    padding-top: 108px        
    }
    .contact-section {
    padding-top: 108px        
    }    

}




/* Navigation */
nav {

    font-family: 'Roboto', sans-serif;
}
.logo-container {
    z-index: 15;
    min-height: 75px;
    width: auto;
    position: fixed;
}
.top-nav{
    height: 50px;

}

.nav-background {
    background-color: #1d1d25;
    padding: 0
    margin: 0;
}

.navbar-inverse {
    border-bottom: 2px dotted white;
    border-bottom-style: solid;

}

.inverse .navbar-brand {
    color: #895945;
    background-color: #1d1d25;
}

.navbar-inverse .navbar-nav li a {
    color: white;
    background-color: #1d1d25;
}

/* Header */

.container-xs {
    padding-top: 20;
    padding-left: 10;
    padding-right: 10;

}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



}



h6.underline {
    border-bottom: 2px solid white;
}



strong {

        font-family: 'Roboto', sans-serif;

}

ul, li {
    list-style-type: none;
    list-style-position:inside;
    text-align: left;
    padding: 0;
    margin: 0;
}



.center {
    text-align: center;
}

.right {
    text-align: right;
}

section {
    padding-top: 54px
}

.home-section{
    background-color: #1d1d25;
    height: 100%;
}

.menu-section {
    min-height: 100%;
    padding-bottom: 50px;

}

.contact-section {
    background-color: #1d1d25;
    height: 100%
}

#googleMap {
    width:auto; height:200px;
}


