
html {
    width: 100%;
    height: 100%;

}

body {
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Domine', serif;
    font-size: 1.2em;
    background-color: #9f6b56;
}


@media only screen and (min-width: 991px) {
.menu-section {
        padding-top: 140px;
}

}

h4, h6 {

    font-family: 'Roboto', sans-serif;
}



/* Navigation */
nav {

    font-family: 'Roboto', sans-serif;
}

.top-nav{

    height: 50px;

}

.navbar-inverse {
    border-bottom: 2px dotted white;
    border-bottom-style: solid;

}

.inverse .navbar-brand {
    color: #895945;
    background-color: transparent;
}

.navbar-inverse .navbar-nav li a {
    color: white;
    background-color: transparent;
}

/* Header */


.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



}



.underline {
    border-bottom: 2px solid #4CAFD0;
}

strong {

        font-family: 'Roboto', sans-serif;

}

ul, li {
    list-style-type: none;
    list-style-position:inside;
    text-align: left;
    padding: 0;
    margin: 0;
}

a {

    color: #00ffff;
}

a:hover {

    color: #00ffff;
    text-decoration: underline;
}

a:hover {

    color: #00ffff;
    text-decoration: underline;
}

a:visited {
    color: #00ffff;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.img-respnsive {
    padding-bottom: 100px;


}

span.omschrijving {
    border-bottom: 2px;
    border-bottom-style: dotted;
}


section {
    height: 100%;
    padding-top: 75px;

}

.contact-section {
    background-color: #895945;
}



